<div class="col-md-8" [ngStyle]="{'border': '1px solid orange'}">
    <p>hola mundo {{ 5*5 }} {{ title }}</p>
    <ng-container *ngIf="cities.length>1; else templateEmpty">
        <app-cities *ngFor="let city of cities | filterCities:filterName" (clickCityEnvent)="onCityClicked($event)"
            (deleteCityEnvent)="onCityDeleted($event)" [city]="city" [selection]="selection"></app-cities>
    </ng-container>

    <div class="col-md-4">

        <ng-container *ngIf="selection">
            <p>clicked city: {{selection.nombre}}</p>
            <app-clear (click)="onClear()" [colors]="'blue'" [labels]="'Clear form'"
                [selection]="selection"></app-clear>
        </ng-container>
    </div>
    <div class="col-md-6 my-3">
        <app-new-item [label]="'City'" [className]="'btn-info'" (newItemEvent)="addNewCity($event)"
            (updateItemEvent)="updateCity($event)" [selection]="selection"></app-new-item>
    </div>

    <ng-template #templateEmpty>
        We don't have cities yet!
    </ng-template>
</div>