<!-- {{'11/30/2023,2:42PM'| date:'full'| uppercase}} -->
<!-- <p>{{title}} Angular</p> moved to home.component.html
<ng-container *ngIf="(criteria$ | async) as selected">
    <p *ngIf="newName">{{selected}}</p>
    <app-testbutton [filterName]="selected"></app-testbutton>
</ng-container>

<label for="newName">Search: </label>
<div class="col-md-6 my-3">
    <input type="text" [(ngModel)]="newName" id="newName" (change)="onCitySearch()" placeholder="...Filter" />
</div>
<p *ngIf="newName">{{newName}}</p> -->
<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- <div class="container"> replaced by routes
    <div class="col-9">
        <app-contact></app-contact>
    </div>
    <div class="col-9">
        <app-contact-reactive></app-contact-reactive>
    </div>
    <div class="col-3">Data</div>
</div> -->